@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 12px; }
  .header {
    height: 60px; }
    .header .container {
      padding: 0 20px;
      position: relative; }
    .header-back {
      height: 100%;
      display: block;
      padding-top: 18px; }
      .header-back img {
        vertical-align: top; }
    .header-name {
      display: none; }
    .header-logo {
      width: 101px;
      display: inline-block;
      float: none;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 0;
      height: 60px;
      padding-top: 15px;
      border-right: none; }
      .header-logo img {
        vertical-align: top;
        width: 101px; }
    .header-smile {
      height: 100%;
      margin-top: 0;
      padding-top: 16px;
      margin-right: 14px; }
      .header-smile img {
        vertical-align: top; }
    .header-menu {
      height: 100%;
      margin-top: 0; }
      .header-menu img {
        margin-top: 18px;
        vertical-align: top; }
  .main {
    min-width: 320px;
    background-size: 170%; }
    .main-bg {
      margin-top: 0;
      max-width: 100%;
      background-size: 100%; }
    .main-logo {
      top: 31%;
      width: 200px;
      left: calc(50% - 100px); }
    .main-leaders {
      width: 100%;
      margin-top: 20px; }
      .main-leaders-title {
        font-size: 24px; }
      .main-leaders-list {
        width: 320px;
        margin: 0 auto;
        margin-top: 30px; }
        .main-leaders-list-unit {
          height: 40px;
          line-height: 40px;
          font-size: 16px; }
          .main-leaders-list-unit .star {
            width: 30px; }
            .main-leaders-list-unit .star img {
              -webkit-transform: scale(0.64);
              -ms-transform: scale(0.64);
              transform: scale(0.64); }
          .main-leaders-list-unit .image {
            margin-right: 14px;
            width: 47px; }
            .main-leaders-list-unit .image img {
              -webkit-transform: scale(0.64) translateX(-75%) translateY(-70%);
              -ms-transform: scale(0.64) translateX(-75%) translateY(-70%);
              transform: scale(0.64) translateX(-75%) translateY(-70%); }
  .fractions {
    margin-top: 70px; }
    .fractions-title {
      font-size: 24px;
      margin-bottom: 21px; }
    .fractions-text {
      margin-bottom: 27px;
      width: 100%; }
    .fractions-wrap {
      margin-left: -12px;
      width: calc(100% + 24px); }
    .fractions-wrap {
      display: block; }
    .fractions-unit {
      max-height: 85px;
      overflow: hidden;
      -moz-transition: all ease-in-out 0.7s;
      -o-transition: all ease-in-out 0.7s;
      -webkit-transition: all ease-in-out 0.7s;
      transition: all ease-in-out 0.7s;
      padding: 0 12px;
      padding-bottom: 20px;
      width: 100%;
      border-top: 1px solid #332946;
      border-bottom: 1px solid #332946; }
      .fractions-unit.open {
        background-color: #0c0022;
        max-height: 500px; }
      .fractions-unit-header {
        padding-top: 12px;
        padding-left: 10px;
        height: 85px;
        margin-bottom: 0px; }
      .fractions-unit-list-unit {
        height: 37px;
        font-size: 14px; }
        .fractions-unit-list-unit .star {
          width: 30px; }
          .fractions-unit-list-unit .star img {
            -webkit-transform: scale(0.8) translateX(-10%) translateY(-70%);
            -ms-transform: scale(0.8) translateX(-10%) translateY(-70%);
            transform: scale(0.8) translateX(-10%) translateY(-70%); }
        .fractions-unit-list-unit .rank {
          width: 72px; }
          .fractions-unit-list-unit .rank img {
            -webkit-transform: scale(0.8) translateY(-54%);
            -ms-transform: scale(0.8) translateY(-54%);
            transform: scale(0.8) translateY(-54%); }
        .fractions-unit-list-unit .underline {
          width: calc(100% - 82px - 30px); }
  .results {
    padding-top: 40px;
    margin-top: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0.8) 89%, rgba(0, 0, 0, 0.04) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0.8) 89%, rgba(0, 0, 0, 0.04) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0.8) 89%, rgba(0, 0, 0, 0.04) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0.8) 89%, rgba(0, 0, 0, 0.04) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.84)), color-stop(89%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.04)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0.8) 89%, rgba(0, 0, 0, 0.04) 100%); }
    .results .slick-slide {
      margin: 0; }
    .results-title {
      font-size: 24px; }
    .results-text {
      padding: 0 20px;
      width: 100%;
      margin-bottom: 60px; }
    .results-controls {
      padding: 0 12px;
      position: absolute;
      width: 100%;
      top: 30px;
      left: 0;
      z-index: 5; }
      .results-controls-unit {
        width: 37px;
        height: 32px;
        background-repeat: no-repeat;
        background-image: url("../images/arrow-mobile.png");
        background-position: center;
        cursor: pointer; }
        .results-controls-unit.inactive {
          opacity: 0.23;
          visibility: visible; }
        .results-controls-unit.prev {
          float: left; }
        .results-controls-unit.next {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          float: right; }
    .results-unit {
      margin: 0;
      background: none;
      padding: 0;
      width: 100%; }
      .results-unit.notPlayed {
        background-color: #000;
        padding: 0;
        width: 100%; }
      .results-unit-list {
        width: 100%; }
        .results-unit-list-header {
          height: 32px !important; }
          .results-unit-list-header .place {
            padding: 0 5px; }
          .results-unit-list-header .points {
            padding: 0 5px; }
      .results-unit-text {
        text-align: center; }
      .results-unit-date {
        padding-top: 30px;
        text-align: center; }
    .results-wrap {
      position: relative;
      width: calc(100% + 24px);
      margin-left: -12px;
      display: block; }
  .gradient .desktop {
    display: none; }
  .gradient .mobile {
    display: inline-block; } }
