include ./includes/components.jade

doctype html
html
	+head ('Index')

	body
		+header

		.main
			.container
				.main-bg
				img(src="images/logo-27club.png" alt="27 club").main-logo
				.main-leaders
					.main-leaders-title
						|Лидеры
					ul.main-leaders-list
						li.main-leaders-list-unit
							span.number 1
							.star
							.image
								img(src="images/blue-icon-2.png" alt="icon")
							span.name Черешня
						li.main-leaders-list-unit
							span.number 2
							.star
								img(src="images/gold-star.png" alt="icon")
							.image
								img(src="images/golden-icon-5.png" alt="icon")
							span.name Тэхасская Рэзня Бензапилой
						li.main-leaders-list-unit
							span.number 3
							.star
							.image
								img(src="images/blue-icon-2.png" alt="icon")
							span.name Опа-Щинанай

		.fractions
			.container
				.fractions-title
					|Баллы фракций
				.fractions-text
					|Три фракции борются за баллы. В каждой фракции есть команда, которая набирает больше всех очков. Такая команда попадает в Лидеры. И так далее пояснительный текст, который Катя называет нефункциональным :)
				.fractions-wrap
					.fractions-unit
						.fractions-unit-header
							.fractions-unit-logo
								img(src="images/logo-fraction-01.png" alt="logo")
							.fractions-unit-title
								|Не часто бывает такой состав
							.fractions-unit-points
								|125
						.fractions-unit-list
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-3.png" alt="rank")
								.underline
									.title
										|Н.В.С.П.
									.points
										|27
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/silver-icon-4.png" alt="rank")
								.underline
									.title
										|Дагестанские Чечки
									.points
										|22
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-5-mini.png" alt="rank")
								.underline
									.title
										|Аякс
									.points
										|20
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-4.png" alt="rank")
								.underline
									.title
										|Борода Керри Кинга
									.points
										|18
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-3.png" alt="rank")
								.underline
									.title
										|B-rain
									.points
										|16
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/silver-icon-4.png" alt="rank")
								.underline
									.title
										|Конденсат мозга
									.points
										|12
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-5-mini.png" alt="rank")
								.underline
									.title
										|Тэхасская Рэзня Бензапилой
									.points
										|7
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-4.png" alt="rank")
								.underline
									.title
										|Опа-Щинанай
									.points
										|4
							.fractions-unit-list-unit
								.star

								.rank
									img(src="images/golden-icon-4.png" alt="rank")
								.underline
									.title
										|Свои люди
									.points
										|2
					.fractions-unit
						.fractions-unit-header
							.fractions-unit-logo
								img(src="images/logo-fraction-02.png" alt="logo")
							.fractions-unit-title
								|D-фракция
							.fractions-unit-points
								|134
						.fractions-unit-list
							.fractions-unit-list-unit
								.star
									img(src="images/gold-star.png" alt="star")
								.rank
									img(src="images/multicolor-icon-5.png" alt="rank")
								.underline
									.title
										|Черешня
									.points
										|27
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/multicolor-icon-5.png" alt="rank")
								.underline
									.title
										|Революция сознания
									.points
										|22
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/multicolor-icon-5.png" alt="rank")
								.underline
									.title
										|Хоп-Хэй-Хоп
									.points
										|20
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/bronze-icon-4.png" alt="rank")
								.underline
									.title
										|Туз на ривере
									.points
										|18
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/silver-icon-4.png" alt="rank")
								.underline
									.title
										|Броневик Трантино
									.points
										|16
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-5.png" alt="rank")
								.underline
									.title
										|Тут он хамон
									.points
										|12
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-4.png" alt="rank")
								.underline
									.title
										|На шару
									.points
										|7
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-3.png" alt="rank")
								.underline
									.title
										|Отчаянные аналитики
									.points
										|4
							.fractions-unit-list-unit
								.star

								.rank
									img(src="images/silver-icon-4.png" alt="rank")
								.underline
									.title
										|Бобры Добры
									.points
										|2
					.fractions-unit
						.fractions-unit-header
							.fractions-unit-logo
								img(src="images/logo-fraction-03.png" alt="logo")
							.fractions-unit-title
								|Фракция<br> щебня
							.fractions-unit-points
								|125
						.fractions-unit-list
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-3.png" alt="rank")
								.underline
									.title
										|Вжик, Гаечка и Рокфор 
									.points
										|27
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/silver-icon-4.png" alt="rank")
								.underline
									.title
										|Привет, Олимпийский
									.points
										|22
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-5-mini.png" alt="rank")
								.underline
									.title
										|Виктор Бйорк
									.points
										|20
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-4.png" alt="rank")
								.underline
									.title
										|АллаЯвБар
									.points
										|18
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-3.png" alt="rank")
								.underline
									.title
										|Спэка-Мэка
									.points
										|16
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/silver-icon-4.png" alt="rank")
								.underline
									.title
										|Ведро лени
									.points
										|12
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-5-mini.png" alt="rank")
								.underline
									.title
										|Светленькие головки
									.points
										|7
							.fractions-unit-list-unit
								.star
								.rank
									img(src="images/golden-icon-4.png" alt="rank")
								.underline
									.title
										|МаМайки
									.points
										|4
							.fractions-unit-list-unit
								.star

								.rank
									img(src="images/golden-icon-4.png" alt="rank")
								.underline
									.title
										|Неординаторская
									.points
										|2
		.results
			.container
				.results-title
					|Результаты игр. <span class="current">1</span> из <span class="all">5</span>
				.results-text
					|Балы присуждаются в соответствии с местом. За первое место дается 27 баллов, за последнее — 1 балл.
				.results-wrap
					
					
					.results-controls
						.results-controls-unit.prev.inactive
						.results-controls-unit.next
					.results-unit.notPlayed
						.results-unit-date
							span.number 05   
							span.month октября
						
					.results-unit
						.results-unit-date
							span.number 10  
							span.month октября
						table.results-unit-list
							tr.results-unit-list-header
								th
								th.place Баллы
								th.points Места
							tr
								td Н.В.С.П.
								td 27
								td 1
							tr
								td Дагестанские Чечки
								td 26
								td 2
							tr
								td Аякс
								td 25
								td 3
							
							tr
								td Борода Керри Кинга
								td 24
								td 4
							
							tr
								td B-rain
								td 23
								td 5
							
							tr
								td Конденсат мозга
								td 22
								td 6
							
							tr
								td Тэхасская Рэзня Бензапилой
								td 21
								td 7
							
							tr
								td Опа-Щинанай
								td 20
								td 8
							
							tr
								td Свои Люди
								td 19
								td 9
							
							tr
								td Черешня
								td 18
								td 10
							
							tr
								td Революция сознания
								td 17
								td 11
							
							tr
								td Хоп-Хэй-Хоп
								td 16
								td 12
							
							tr
								td Туз на ривере
								td 15
								td 13
							
							tr
								td Броневик Тарантино
								td 14
								td 14
							
							tr
								td Тут он хамон
								td 13
								td 15
							
							tr
								td На шару
								td 12
								td 16
							
							tr
								td Отчаянные аналитики
								td 11
								td 17
							
							tr
								td Бобры Добры
								td 10
								td 18
							
							tr
								td Черешня
								td 9
								td 19
							
							tr
								td Революция сознания
								td 8
								td 20
							
							tr
								td Хоп-Хэй-Хоп
								td 7
								td 21
							
							tr
								td Туз на ривер
								td 6
								td 22
							
							tr
								td Броневик Тарантино
								td 5
								td 23
							
							tr
								td Тут он хамон
								td 4
								td 24
							
							tr
								td На шару
								td 3
								td 25
							
							tr
								td Отчаянные аналитики
								td 2
								td 26
							tr
								td Бобры Добры
								td 1
								td 27
					.results-unit
						.results-unit-date
							span.number 15 
							span.month октября
						table.results-unit-list
							tr.results-unit-list-header
								th
								th.place Баллы
								th.points Места
							tr
								td Н.В.С.П.
								td 27
								td 1
							tr
								td Дагестанские Чечки
								td 26
								td 2
							tr
								td Аякс
								td 25
								td 3
							
							tr
								td Борода Керри Кинга
								td 24
								td 4
							
							tr
								td B-rain
								td 23
								td 5
							
							tr
								td Конденсат мозга
								td 22
								td 6
							
							tr
								td Тэхасская Рэзня Бензапилой
								td 21
								td 7
							
							tr
								td Опа-Щинанай
								td 20
								td 8
							
							tr
								td Свои Люди
								td 19
								td 9
							
							tr
								td Черешня
								td 18
								td 10
							
							tr
								td Революция сознания
								td 17
								td 11
							
							tr
								td Хоп-Хэй-Хоп
								td 16
								td 12
							
							tr
								td Туз на ривере
								td 15
								td 13
							
							tr
								td Броневик Тарантино
								td 14
								td 14
							
							tr
								td Тут он хамон
								td 13
								td 15
							
							tr
								td На шару
								td 12
								td 16
							
							tr
								td Отчаянные аналитики
								td 11
								td 17
							
							tr
								td Бобры Добры
								td 10
								td 18
							
							tr
								td Черешня
								td 9
								td 19
							
							tr
								td Революция сознания
								td 8
								td 20
							
							tr
								td Хоп-Хэй-Хоп
								td 7
								td 21
							
							tr
								td Туз на ривер
								td 6
								td 22
							
							tr
								td Броневик Тарантино
								td 5
								td 23
							
							tr
								td Тут он хамон
								td 4
								td 24
							
							tr
								td На шару
								td 3
								td 25
							
							tr
								td Отчаянные аналитики
								td 2
								td 26
							tr
								td Бобры Добры
								td 1
								td 27
					.results-unit.notPlayed
						.results-unit-date
							span.number 20   
							span.month октября
						.results-unit-text Начало в 19:00   
					.results-unit.notPlayed
						.results-unit-date
							span.number 20   
							span.month октября
						.results-unit-text Начало в 19:00   
					.results-unit.notPlayed
						.results-unit-date
							span.number 20   
							span.month октября
						.results-unit-text Начало в 19:00   
					.results-unit.notPlayed
						.results-unit-date
							span.number 20   
							span.month октября
						.results-unit-text Начало в 19:00   
		.gradient
			img(src="images/bottom-gradient.png" alt="gradient").desktop
			img(src="images/bottom-gradient-mobile.png" alt="gradient").mobile
						


